/include/ "system-conf.dtsi"
/ {
chosen {
bootargs = "console=ttyPS0,115200 earlyprintk uio_pdrv_genirq.of_id=generic-uio root=/dev/mmcblk1p2 rw rootwait";
};
	dma_proxy {
		compatible ="xlnx,dma_proxy";
		dmas = <&XG_0_axi_dma_0 0 &XG_0_axi_dma_0 1>;
		dma-names = "dma_proxy_tx", "dma_proxy_rx";
		/*dma-coherent;*/
	};
};

&sdhci0 {
status = "okay";
/*max-frequency = <50000000>;*/
disable-wp;
no-1-8-v;
broken-cd;
};

&sdhci1 {
status = "okay";
/*max-frequency = <50000000>;*/
disable-wp;
no-1-8-v;
broken-cd;
};

&dbg_debug_bridge_0 {
compatible = "generic-uio";
};

&JTAG_axi_jtag_0 {
compatible = "xlnx,xvc";
};

&JTAG_axi_jtag_1 {
compatible = "xlnx,xvc";
};

&gem0 {
phy-handle = <&phy0>;
local-mac-address = [00 0a 35 00 00 02];
mdio {
phy0: phy0@2 {
	      reg = <0x2>;
             };
phy1: phy1@3 {
	      reg = <0x3>;
      	     };
};
};

&gem1 {
phy-handle = <&phy1>;
local-mac-address = [00 0a 35 00 00 03];
};

&watchdog0 {
status = "okay";
reset-on-timeout;
timeout-sec = <10>;
};

&i2c0 {
	clock-frequency = <100000>;
	status = "okay";
};
